.articles__title {
    font-size: 30px;
    font-weight: bold;
}

.articles__text{
    color: gray;
}


.articles__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 30px;
}

.section-articles{
    background: rgb(231, 231, 231);
    padding-bottom: 50px;
}
.articles__img{
    height: 100%;
    transition: 0.5s;

    img {
        width: 100%;
    }
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.articles__name{
    font-size: 20px;
    color: black;
    padding-bottom: 20px;
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #000;
        -webkit-transition: width .5s;
        transition: width .5s;
        &:hover {
            width: 30%;

        }
    }
   

    
}
.articles__properties{
    font-size: 14px;
    color: gray;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}



.ov-hidden {
    overflow: hidden;
    &:hover ::after{
        width: 30%;
    }
}


.category{
    display: inline-block;
    padding: 5px 15px;
    background-color: gray;
    border-radius: 10px;
    transition: 0.5s;
    &:hover {
        cursor: pointer;
        background-color: rgb(73, 73, 73);
        
    }
    &:hover .category-link {
        color: white;
    }
   
}
.category-link{
    text-decoration: none;
    color: white;
}