
.articles__title {
    font-size: 30px;
    font-weight: bold;
}

.articles__text{
    color: gray;
}


.articles__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 30px;
    
}

.section-articles{
    background: rgb(231, 231, 231);
}
.articles__img{
    
    img {
        width: 100%;
    }
    transition: 0.5s all;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    
    }
}

.articles__name{
    font-size: 20px;
    color: black;
    padding-bottom: 20px;
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #000;
        -webkit-transition: width .5s;
        transition: width .5s;
        &:hover {
            width: 30%;

        }
    }
   

    
}
.articles__properties{
    font-size: 14px;
    color: gray;
    margin-top: 5px;
}



.ov-hidden {
    overflow: hidden;
    &:hover ::after{
        width: 30%;
    }
}