.reviews-block-item {
    background-color: rgba(128, 128, 128, 0.388);
    padding: 15px;
    margin: 15px 0;
    z-index: 1;
    width: 500px;
}
.reviews-name {
    font-weight: 600;
}

.reviews{
    background: rgba(104, 103, 103, 0.555);;
    padding-top: 40px;
    padding-bottom: 40px;
}

.btn-reviews {
    background-color: gray;
}
.reviews-title {
    color: white;
}