.item-bgc {
    background-color: rgba(128, 128, 128, 0.34);
    padding-top: 50px;
    padding-bottom: 50px;
}

.bgc-pahes {
    height: 400px;
    width: 100%;
}
.descr {
    text-align: center;
}

.flex {
    display: flex;
    text-align: center;
}
.flex-nubmer {
    font-size: 40px;
    font-weight: 600;
}
.place {
    font-size: 20px;
    color: gray;
}
.text-place {
    color: gray;

}

.subtext {
    color: gray;
    font-size: 14px;
}
.list-li {
    margin: 20px;
    color: gray;
}

h1 {
    margin-top: 20px;
}