.img {
    background: rgba(0, 0, 0, 0.551);
}
.im-im{
    background-image: url(../../../public/img/people.jpg);
    height: 400px;
    opacity: 0.3;
}

.title {
    position: absolute;
    top: 250px;
    font-size: 40px;
    color: white;
    width: 400px;
}

.text{
    padding: 40px 20px;
    background: rgb(203, 202, 202);
    color: black;
    font-size: 25px;
}

.descr-img{
    margin-top: 50px;
    img {
        width: 500px;
    }
}
.semper{
    margin-top: 50px;
    width: 500px;
}
.semper-title{
    font-size: 25px;
    font-weight: 600;
}

.semper-text{
    font-size: 14px;
    margin-top: 15px;
    color: gray;
}

.number{
    color: black;
    font-size: 20px;
}

.blick{
    width: 200px;
    text-align: center;
}

.blick-number{
    font-size: 35px;
}
.blick-numberText {
    font-size: 20px;
    margin-top: 10px;
}

.blick-text {
    margin-top: 15px;
    font-size: 14px;
    color: gray;

}

.block-array{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}