* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #212529;
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__logo{
  img{
    width: 200px;
  }
}
.menu__list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.list__link {
  color: gray;
  text-decoration: none;
  transition: color 0.5s;
}

.home__link {
  color: white;
}
.list__link:hover {
  color: white;
}
